
@media only screen and (max-width: 37.5em)
html, body {
    font-size: 18px;
    line-height: 24px;
}

@media only screen and (max-width: 61.5em)
body {
}

/** reset **/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: inherit;
}

html,
body {
    font-family: georgia, serif;
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    color: #111;
    background-color: #fff;
    height: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/** div {
    border: 1px solid red;
} **/

/** All elements in the flow of the document that proceed other elements must receive a top margin of one line **/
* + * {
	  margin-top: 1.5em;
}

ol, ul {
    list-style: none;
}
*, *:before, *:after {
    box-sizing: inherit;
}
@
html {
    position: relative;
    background-color: rgba(51, 51, 51, 1);
}

h1 {
    font-size: 2.5em;
}

h2 {
    padding: .15em 0;
    font-size: 1.5em;
}

img {
    max-width: 100%;
}
hr {
    width: 40%;
    color: rgba(0, 0, 0, 1);
    margin: 0 auto;
}
.banner {
    height: 175px;
    padding-top: .75em;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Cormorant Upright', serif;
    color: rgba(0,0,0,1);
    text-align: center;
    background-image: url('..//images/clouds1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#home.banner {
    height: 230px;
}
.banner h1 {
    font-style: italic;
}

.banner a {
    text-decoration: none;
}

/** begin nav **/
.banner > .top-nav {
    padding-top: 1em;
}

.banner > .top-nav li {
    width: 25%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.banner > .top-nav li a {
    font-size: 1.5em;
    color: rgba(0, 149, 255, 1);
    text-decoration: none;
}

.banner > .top-nav li a:visited {
    color: (101, 101, 101, 1);
    text-decoration: none;
}

.banner > .top-nav li a:hover {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    text-decoration: underline;
}
.banner > .top-nav li a.active {
    color: rgba(76, 80, 88, 1);
    font-weight: 500;
}
/** end nav **/
/** intro section **/
.intro {
    height: 40%;
    padding: 2rem 0;
    background-color: white;
    margin: 0 auto;
}

.intro p {
    padding: .5rem 20%;
}
/** end main content area **/
/** begin footer **/
.social {
    height: 95px;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(69, 69, 69, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    text-align: center;
}
.social > h2 {
    padding: 0.2rem;
    font-size: 1.3rem;
}
.social-logos > li {
    width: 20%;
    display: block;
    margin: 0 auto;
}
.social-logos > li a {
    text-decoration: none;
    color: rgba(0, 149, 255, 1);
    font-size: 1.1rem;
}
.social-logos img:hover {
    transform: scale(1.4);
    cursor: pointer;
}
