
@media only screen and (max-width: 37.5em)
html, body {
    font-size: 18px;
    line-height: 24px;
}

@media only screen and (max-width: 61.5em)
body {
}

/** reset **/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: inherit;
}

@
html {
    position: relative;
    background-color: rgba(51, 51, 51, 1);
}

html,
body {
    font-family: 'Cormorant', serif;
/*    font-style: normal;*/
    font-size: 1.1em;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    color: #111;
    background-color: #fff;
    height: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/** div {
    border: 1px solid red;
} **/

/** All elements in the flow of the document that proceed other elements must receive a top margin of one line **/
* + * {
	  margin-top: 1.5em;
}

a {
    color: rgba(0, 149, 255, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    text-decoration: underline;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 2.1em;
}

h2 {
    padding: .1em 0;
    font-size: 1.5em;
}

img {
    max-width: 100%;
}

hr {
    width: 40%;
    color: rgba(0, 0, 0, 1);
    margin: 0 auto;
}
.banner {

    min-height: 36%;
    max-height: 38%;
    padding-top: .75em;
    font-family: 'Cormorant Upright', serif;
    text-align: center;
    background-image: url('..//images/clouds1.jpg');
    background-size: cover;
    background-repeat: no-repeat
    background-position: center center;
}

#home.banner {
  min-height: 40%;
  max-height: 38%;
/*    height: 220px;*/
}

.banner h1 {
    font-style: italic;
    color: #222;
}

/** begin nav **/
#inline-list {
 margin: .5em;
 width: 100%;

 }
 #inline-list p {
 display: inline;
 }
 #inline-list ul,
 #inline-list li {
 display: inline;
 margin: 0 auto;
 padding: 0 1em;
 font-weight: bold;
 }

#inline-list li a {
    font-size: 1.5em;
    color: rgba(0, 149, 255, 1);
    text-decoration: none;
}

#inline-list li a:hover {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    text-decoration: underline;
}

#inline-list li a.active {
    color: #222;
    font-weight: 500;
}
/** end nav **/

/** intro section **/
.intro {
/*  position: relative; */
    height: 40%;
    padding: 2em 0;
    background-color: white;
    margin: 0 auto;
}

.intro p, ul li {
    padding: .5em 20%;
}
/** end main content area **/

/** begin footer **/
.social {
/*    flex: 0 1 auto; */
    max-height: 150px;
/*    width: 100%;
margin
padding: */
    background-color: rgba(69, 69, 69, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1em;
    text-align: center;
}
.social > h2 {
    padding: 0.5em 0 0;
    font-size: 1.3em;
}
.social > li {
    text-decoration: none;
/*    width: 40%;*/
/*    display: inline;*/
    margin: 0 auto;
}
.social > li a {
    color: rgba(0, 149, 255, 1);
    font-size: 1.1em;
}
.social > img:hover {
    transform: scale(1.4);
    cursor: pointer;
}
